:root {
    --primary-brand: #4d5ae5;
    --pressed-state: #404bbf;
    --dark: #2e2f42;
    --success: #31d0aa;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-background: #2e2f42;
    --white-background: #fff;
    --modal-background: #fcfcfc;
    --logo-color: #4d5ae5;
}

/* global */
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--dark);
    background-color: var(--white-background);
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.container {
    max-width: 1158px;
    padding-inline: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-block: 120px;
}

/* header */

.header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    justify-content: space-between;
}

.header-nav {
    gap: 76px;
    align-items: center;
}

.nav-items,
.header-address-items {
    gap: 40px;
}

.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color {
    color: var(--logo-color);
}

.nav-item-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: inline-block;
    padding-block: 24px;
    position: relative;
    flex-direction: column;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:is(:hover, :focus) {
    color: var(--pressed-state);
}

.nav-item-link.active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 20px;
    left: 0;
    border-radius: 2px;
    background-color: var(--pressed-state);
}

.header-address {
    font-style: normal;
}

.header-address-item {
    color: var(--text);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.header-address-item a {
    display: inline-block;
    padding-block: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:is(:hover, :focus) {
    color: var(--pressed-state);

}

/* hero */

.hero {
    color: white;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-block: 188px;
    background-size: cover;
    background: var(--hero-background) linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) url(../images/bg/people-office-1.png) no-repeat center center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    outline: none;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:is(:hover, :focus) {
    background-color: var(--pressed-state);
}

/* our features */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-features-list {
    gap: 24px;
}

.our-features-list>li {
    width: calc((100% - (3 * 24px)) / 4);
}


.our-features-icon {
    border: 1px solid var(--subtle-text);
    width: 100%;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--light);
    border-radius: 4px;
}

.our-features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* our team */

.our-team {
    background-color: var(--light);
}

.our-team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    margin-bottom: 72px;
}

.our-team-items {
    gap: 24px;
}

.our-team-item {
    width: calc((100% - (24px * 3)) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white-background);
    border-radius: 0 0 4px 4px;
}

.our-team-item>img {
    width: 100%;
    object-fit: cover;
}

.our-team-item-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-item-text {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 8px;
}

.our-team-item-description {
    padding: 32px 16px;
}

.our-team-social-icons {

    justify-content: space-between;
}

.our-team-social-link {
    width: 40px;
    height: 40px;
    justify-content: center;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link>svg {
    fill: var(--light);
}

.our-team-social-link:is(:hover, :focus) {
    background-color: var(--success);
}

/* portfolio */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-items {
    gap: 48px 24px;
    flex-wrap: wrap;
    flex-basis: calc((100% - (24px * 2)) / 3);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-item-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--text);
}

.portfolio-item-description {
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    padding: 32px 16px;
}

/* footer */

.footer {
    background-color: var(--hero-background);
    color: var(--light);
    padding-block: 100px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.16;
}

.footer-text {
    max-width: 264px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer-menu {
    gap: 120px;
}

.footer .column {
    max-width: 264px;
}

.footer .our-team-social-icons {
    gap: 16px;
}

.footer .social-media-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--white-background);
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);;
}




